*{
  font-family: 'Raleway', sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Estilos para la primera pantalla */

.start{
  background: linear-gradient( rgb(83, 0, 96) 65%, rgb(228, 10, 138));
  height: 100vh;
}

.lya {
    display: flex;
    flex-direction: column;
    justify-content: center;
    }

.lya img{
 width: 80%; 
 margin-left: auto;
 margin-right: auto;
 margin-top: 40%; 
}

/* Estilos para la ventana sign up */
.sign-up{
  background: url('../assets/imagenes/edificio.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
}

.logo-white img{
  width: 30%;
  height: 40%;
  display: block; 
  margin-left: auto;
  margin-right: auto;
 }

.logo-pink img{
  width: 50%;
  height: 50%;
  display: block; 
  margin-left: auto;
  margin-right: auto;
}
.margin-row{
  margin-top:25%;
}

.font{
  font-size: 30px;
}

/* Estilos para la ventana Contry */

.size-icons{
  width: 40px;
}
.size-image{
  width: 80px;
 
}

.size-p{
  font-size: 1.5em;
}

.margin-input{
  margin-left: 32%;
}
.margin-section{
  margin-top: 10%;
}
.size-button{
  width:60%;
}
.margin-lag{
  margin-bottom: 10%;
}
.color-disabled{
  background-color: #CDCDCE;
}
.color-enabled{
  background-color: rgba(132, 42, 192, 0.842)
}