<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../vendors/Bootstrap/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,500,700,900" rel="stylesheet">
    <link rel="stylesheet" href="../css/main.css">
    <title>Form</title>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-2">
                <a href="../views/verify-number.html">
                    <img src="../assets/imagenes/atras.jpg" alt="atras" class="size-icons">
                </a>
            </div>
            <div class="col-xs-10">
                <p class="text-center">Verify phone number</p>
                <p class="text-center">Join now for free ride credit</p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <form action="/action_page.php">
                    <div class="form-group">
                        <label for="First-name">First name:</label>
                        <div id="msj1"></div>
                        <input type="text" class="form-control" id="first-name" placeholder="Escribe tu nombre">
                        
                    </div>
                    <div class="form-group">
                        <label for="Last-name">Last name:</label>
                        <div id="msj2"></div>
                        <input type="text" class="form-control" id="last-name">
                    </div>
                    <div class="form-group">
                        <label for="email">Email address:</label>
                        <div id="msj3"></div>
                        <input type="email" class="form-control" id="email">
                    </div>
                    <div class="checkbox">
                        <div id="msj4"></div>
                        <label><input type="checkbox" id="check"> I agree to Lyft'ss Terms of Service </label>
                    </div>
                    <button type="submit" class="btn btn-default " disabled id="button-form">Next</button>
                </form>
            </div>
        </div>
        
    </div>

    



    <script src="../vendors/jquery/jquery-3.2.1.min.js"></script>
    <script src="../js/form.js"></script>
</body>
</html>