<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../vendors/Bootstrap/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,500,700,900" rel="stylesheet">
    <link rel="stylesheet" href="../css/main.css">
    <title>sign up</title>
</head>
<body class="sign-up">
    <div class="container-fluid">
        <div class="row margin-row">
            <div class="col-xs-12 logo-white center-block">
                <img src="../assets/imagenes/logo-white.png" alt="logo-white">
            </div>            
        </div>
        <div class="row margin-row">
            <div class="col-xs-12 logo-pink center-block">
                <img src="../assets/imagenes/logo-pink.png" alt="logo-pink">
            </div>            
        </div>
        <div class="row margin-row ">
            <div class="col-xs-4 col-xs-offset-1">
                <button type="button" class="btn btn-default font">LOG IN</button>
            </div>
            <div class="col-xs-4 col-xs-offset-1">
               <a href="../views/country.html"> <button type="button" class="btn btn-primary font">SING UP</button> </a>
            </div>  

        </div>
    </div>

    <script src="../vendors/jquery/jquery-3.2.1.min.js"></script>
    <script src="../js/sign-up.js"></script>
</body>
</html>